body{
  padding: 30px;
}
h1, h4{
    padding-left: 30px;
}

img{
    float: right;
    height: 25px;
    margin-left: 5px;
  
}

ul{
  list-style: none;
}

li {
    list-style: none;
    background-color: #eee;
    margin: 5px;
    padding: 20px;
    box-shadow: 0 0 5px #999;
    
}

ul :hover {
    background-color: lightgrey;
}

.btn{
  margin-right: 10px;
  margin-top: 25px;
  text-align: center;
  display: inline-block;
  
  width: 200px;
  
}